.menu-item {
  width: 100%;
  margin: 1rem 0;

  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__sub {
    width: 100%;
    margin-top: 0.2rem;
  }

  &__name {
    flex: 1;
  }

  &__price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.dash {
  width: 6rem;
  height: 1px;
  background: var(--color-golden);
  margin: 0 1rem;
}
