.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-black);

  padding: 1rem 2rem;

  &__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 150px;

      @media screen and (min-width: 2000px) {
        width: 210px;
      }

      @media screen and (max-width: 650px) {
        width: 110px;
      }
    }
  }

  @media screen and (max-width: 650px) {
    padding: 1rem;
  }
}

.navbar__links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;

    &:hover {
      color: var(--color-grey);
    }
  }

  @media screen and (max-width: 1150px) {
    display: none;
  }
}

.navbar__login {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;

    &:hover {
      border-bottom: 1px solid var(--color-golden);
    }
  }

  div {
    width: 1px;
    height: 30px;
    background: var(--color-grey);
  }

  @media screen and (max-width: 650px) {
    display: none;
  }
}
