.header {
  background-color: var(--color-black);

  h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-size: 6rem;

    @media screen and (max-width: 1150px) {
      font-size: 5rem;
    }

    @media screen and (max-width: 650px) {
      font-size: 4rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 3rem;
    }
  }
}
